{% extends "widget.twig" %}

{#{% block heading %}
    <p>{{ description }} {{ elements|length }}</p>
{% endblock %}#}

{% block content %}
    <div class="container">
        {% for elbatch in elements|batch(4) %}
            <div class="row">
                {% for element in elbatch %}
                    {# @var element \PureFeedWidget\Entity\Person #}
                    <div class="col col-md-3 col-sm-6 col-xs-12">
                        <div class="team-block-item pure_element person" data-pure-uuid="{{ element.uuid }}">

                            <div class="profile-image">
                                {% if element.photoUrl is not empty %}
                                    <div class="round" style="background-image: url({{ element.photoUrl }})">
                                    </div>
                                {% else %}
                                    <div class="round"
                                         style="background-image: url(/wp-content/plugins/pure-feed-widget/images/no_photo.jpg)">
                                    </div>
                                {% endif %}
                            </div>

                            <h3 class="name">{{ element.fullName }}</h3>

                            <a href="{{ element.portalUrl }}" target="_blank">Pure profile</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footing %}
    {% if description is not empty %}
        <p class="description">{{ description }}</p>
    {% endif %}
{% endblock %}