{% extends "widget.twig" %}

{#{% block heading %}
    <p>{{ description }} {{ elements|length }}</p>
{% endblock %}#}

{% block content %}

    {% for element in elements %}
        {# @var element \PureFeedWidget\Entity\Research #}
        <hr />
        <h3 class="title">{{ element.title }}</h3>

        {% if element.abstract is not empty %}
            <div>
                <strong>Abstract: </strong>
                <p>{{ element.abstract }}</p>
            </div>
        {% endif %}

        <div>
            <strong>Reference ({{ element.pureRenderedFormat }}): </strong>
            {{ element.pureRenderedHtml|raw }}
        </div>

        <br/>
        <div>
            <strong>Attributes: </strong><br/>
            <code>
                Year: {{ element.publicationYear }}<br/>
                Organizational Unit: {{ element.managingOrgUnit }}<br/>
                Confidential: {{ element.confidential ? 'Yes' : 'No' }}<br/>
                Publisher: {{ element.publisher }}<br/>
                Type: {{ element.type }}<br/>
                Category: {{ element.category }}<br/>
                Language: {{ element.language }}<br/>
                Research Area: {{ element.researchArea }}<br/>
                Status: {{ element.publicationStatus }}<br/>
                {# Visibility: {{ element.visibility }}<br />#}
                {#PureId: {{ element.pureId }}<br />#}
                {#UUID: {{ element.uuid }}<br />#}
            </code>
        </div>

        <p>
            <a href="{{ element.portalUrl }}" target="_blank">See it on Pure</a>
        </p>

    {% endfor %}


{% endblock %}

{% block footing %}
    {% if description is not empty %}
        <hr/>
        <p class="description">{{ description }}</p>
    {% endif %}
{% endblock %}
